* {
    margin: 0 auto;
    border: 0 auto;
    padding: 0 auto;
    }

body {
    width: 85%;
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 75, 70);
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 30px;
    border: 3px solid rgb(145, 241, 132);
    border-radius: 40px;
    background-color: rgb(55, 105, 105);
    text-shadow: gray 2px 2px 2px;
    color: white;
    font-size: 30px;
    width: 85%;
    height: 50%;
    margin-top: 3%;
    font-weight: bold;
}

.texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 25px 25px;
    border: 3px solid rgb(145, 241, 132);
    border-radius: 40px;
    background-color: rgb(55, 105, 105);
    text-shadow: gray 2px 2px 2px;
    color: white;
    font-size: 20px;
    width: 85%;
    height: 50%;
    font-weight: bold;
    text-align: center;
}

#maior {
    font-size: 50px;
}


img {
    width: 150px;
    height: 140px;
    border-radius: 40px;
    padding: 20px 20px;
    background-size: cover;
}

.escolhaGeral {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(145, 241, 132);
    border-radius: 40px;
    background-color: rgb(55, 105, 105);
    width: 90%;
    height: 50%;
    margin-top: 2%;
    
}

.escolha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 30px;
    text-shadow: whitesmoke 1px 1px 1px;
}

h3 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3.23em;
    padding-top: 25px;
}

.botao a:hover {
    color: white;
    font-weight: bold;
}

.botao {
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    background-color: grey;
    color: white;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    font-size: 15px;
    border: 3px solid rgb(145, 241, 132);
}

/* Estilizando o rodapé */
.footer{
    border-radius: 5px;
    text-align: center;
    margin-top:auto; 
    color: whitesmoke;
    background-color: rgb(55, 105, 105);
    margin: 10px auto;
    width: 50%;
    border-top: 10px;;
}

/* Aplicando o site responsivo com max-width: 700px */
@media (max-width: 700px) {

    body{
        flex-direction: column;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .texto{
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 10px 0 0 0;
    }

    h1{
        font-size: 1.2em;
        text-align: center;
    }
    h2{
        font-size: 1em;
        text-align: center;
    }

    h3{
        font-size: 1.4em;
    }

    .escolhaGeral{
        flex-direction: column;
        width:60%;
        height: 50%;
    }

    .escolha{
        flex-direction: column;
        width:60%;
        height: 50%;
    }

    #maior {
        padding-top: 10px;
        font-size: 35px;
    }

    #img1{
        width: 110px;
        height: 100px;
        border-radius: 30px;
    }

    .botao{
        /* PAREI AQUI */
    }
    
    .footer{
        width: auto;
        font-size: small;
    }
}

/* Aplicando o site responsivo com max-width: 400px */
@media (max-width: 400px) {

    body{
        flex-direction: column;
    }

    .titulo{
        padding: 10px 5px 15px 5px;
    }

    h1{
        padding: auto;
        font-size: 0.9em;
        text-align: center;
    }

    #maior {
        font-size: 25px;
    }

    h2{
        font-size: 0.9em;
    }

    h3{
        padding-top: 20px;
    }

    .escolhaGeral{
        flex-direction: column;
        margin-top: 20px;
    }

    #img1{
        width: 85px;
        height: 85px;
        padding: 20px 20px 20px 10px;
    }
}    